<md-sidenav-container class="example-sidenav-fab-container">
  <md-sidenav #sidenav mode="side" opened="true">
    <!--button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
      <md-icon>add</md-icon>
    </button-->
    <div class="example-scrolling-content">
      <div id="collapseExample" class="collapseExample" >
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
        
        <div class="btn btn-default patient-container" role="button">

          <div class="thumbnail-patient" >
          <img src="./src/app/images/anna.png" alt="...">
          </div>
          <div class="info-patient">
          <p>Anna coonors</p>
          <p>Patient</p>                
          </div>

        </div> 

        <div class="btn btn-default" role="button">
          <span class="icon-left-menu">
          <img src="./src/app/images/user-info.png" alt="...">
          </span>
          <span class="menu-title">User Info.</span>
        </div>

        <div class="btn btn-default" role="button">
          <span class="icon-left-menu">
          <img src="./src/app/images/accounts.png" alt="...">
          </span>
          <span class="menu-title">Accounts</span>
        </div>

        <div class="btn btn-default" role="button">              
          <span class="icon-left-menu privacy">
          <img  src="./src/app/images/privacy.png" alt="...">
          </span>
          <span class="menu-title">Privacy</span>              
        </div> 

        <div class="btn btn-default" role="button">              
          <span class="icon-left-menu help">
          <img src="./src/app/images/help.png" alt="...">
          </span>              
          <span class="menu-title">Help</span>
        </div>

        <a class="btn btn-default wrap-loading" role="button">
          <span class="loading">
          <img src="./src/app/images/loading.png"/>
          </span>              
        </a>            

        </div> 
      </div>
    </div>
  </md-sidenav>
  <button md-mini-fab class="example-fab button-collapse"  (click)="clickSidenav(sidenav, $event)" >
    <md-icon class='{{sidenavClass}}' (click)="clickSidenav(sidenav, $event)" ></md-icon>
  </button>
  <div class="example-scrolling-content">

						<div class="navbar-header">							
							<div class="btn-group btn-group-justified menu-header navbar-toggle " role="group" aria-label="...">
								<a href="#"  class="btn btn-default " role="button">Daily</a> 
								<a href="#"  class="btn btn-default " role="button">Weekly</a>
								<a href="#"  class="btn btn-default " role="button">Monthly</a>
								<a href="#"  class="btn btn-default collapse wrap-button-collapse" role="button" >
									<button type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseAuxMenu" >
									
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>															
								</a>								
							</div>
						</div>
            


							  <div class="collapseExample"  id="collapseAuxMenu" [ngbCollapse]="isCollapsed" >
								  <div class="btn-group btn-group-justified" role="group" aria-label="...">
									
									<div class="btn btn-default patient-container" role="button">

									  <div class="thumbnail-patient" >
										<img src="./src/app/images/anna.png" alt="...">
									  </div>
									  <div class="info-patient">
										<p>Anna coonors</p>
										<p>Patient</p>                
									  </div>

									</div> 

									<div class="btn btn-default" role="button">
									  <span class="icon-left-menu">
										<img src="./src/app/images/user-info.png" alt="...">
									  </span>
									  <span class="menu-title">User Info.</span>
									</div>

									<div class="btn btn-default" role="button">
									  <span class="icon-left-menu">
										<img src="./src/app/images/accounts.png" alt="...">
									  </span>
									  <span class="menu-title">Accounts</span>
									</div>

									<div class="btn btn-default" role="button">              
									  <span class="icon-left-menu privacy">
										<img  src="./src/app/images/privacy.png" alt="...">
									  </span>
									  <span class="menu-title">Privacy</span>              
									</div> 

									<div class="btn btn-default" role="button">              
									  <span class="icon-left-menu help">
										<img src="./src/app/images/help.png" alt="...">
									  </span>              
									  <span class="menu-title">Help</span>
									</div>

									<a class="btn btn-default wrap-loading" role="button">
									  <span class="loading">
										<img src="./src/app/images/loading.png"/>
									  </span>              
									</a>            

								  </div> 
							  </div>            




            <!-- char container -->
            <div class="chart-container" >
              <div id="menu-header" class="row "  >
                <div class="col-md-12 wrap-menu-center" >
                  <div class="btn-group btn-group-justified " role="group" aria-label="...">
                  
                  <a href="#"  class="btn btn-default {{activeDaily}}"  (click)='timeOption("daily")' role="button">Daily</a> 
                  <a href="#"  class="btn btn-default {{activeWeekly}}" (click)='timeOption("weekly")' role="button">Weekly</a>
                  <a href="#"  class="btn btn-default {{activeMontly}}" (click)='timeOption("monthly")' role="button">Monthly</a>

                  </div>                        
                </div>
              </div>

              <div class="row option-sleeping" >
                <div class="col-md-2" >

                  <ul class="list-inline text-center">
                  <li class=" ">
                    <a href="#" class="icon-sleeping" (click)="dreamOption('spo2')" >
                    <img src="./src/app/images/SPO2.png">
                    </a>
                  </li>
                  <li class=" ">
                    <a href="#" class="icon-sleeping" (click)="dreamOption('sleepHour')" >
                    <img src="./src/app/images/sleep-hours.png">
                    </a>
                  </li>
                  <li class="">
                    <a href="#" class="icon-sleeping" (click)="dreamOption('pulse')" >
                    <img src="./src/app/images/pulse.png">
                    </a>
                    
                  </li>
                  <li class=" ">
                    <a href="#" class="icon-sleeping" (click)="dreamOption('sleepPosition')" >
                    <img src="./src/app/images/sleeping-position.png">
                    </a>                  
                  </li>
                  </ul>   

                </div>

                <div class="col-md-10" >
                  <div>
                    <h2 class="text-center" >Daily Line Chart</h2>
                  </div>
                  <div>
                    <!-- container to draw chart -->
                    <div>                  
                      <app-nvd3 [options]="options" [data]="data" *ngIf="!rerender" ></app-nvd3>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-12" >
                  <div class="banner-footer"></div>
                </div>
              </div>

            </div>

  </div>
</md-sidenav-container>


<!-- Copyright 2016 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->