.example-sidenav-fab-container {
  
  /*height: 300px;*/
  min-height: 760px;
  /*border: 1px solid rgba(0, 0, 0, 0.5);*/
}

.example-sidenav-fab-container md-sidenav {
  /*max-width: 200px;*/
  max-width: 370px;
}

.example-sidenav-fab-container .mat-sidenav-content,
.example-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

.example-scrolling-content {
  /*overflow: auto;*/
}

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}


/*style sidenav*/
.collapseExample .btn{
	width: 100%;
  background: #1F4F8A;
  color: #ffffff;
  font-size: 16px;
  display: block;	
}

.navbar-toggle .icon-bar{
  background: black;
}

.mat-mini-fab{
    top: 340px;
    left: 0px;
    /*position: absolute !important;*/
}
